<div class="ad_index span3" id="<%= ad_counter %>">
  <div class="image visible-desktop">
    <img src="/assets/blackberry.jpg" height="200"></img>
  </div>
  <div class="title"><h3><%= ad.title %></h3></div>
  <div class="price"><%= ad.price %></div>
  <div class="description"><%= ad.description %></div>
  <div class="address"><%= ad.address %></div>
  <div class="up_votes"><%= ad.up_votes == nil ? 0 : ad.up_votes %></div>
  <div class="down_votes"><%= ad.down_votes == nil ? 0 : ad.down_votes %></div>
</div>
