<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to root_path, class: "brand" do %>
        <%= icon_for("city-logo") %><%= "citysell.it" %>
      <% end %>
      <div class="btn-group pull-right">
        <%= render "users/navbar" %>
      </div>

      <div class="nav-collapse">
        <ul class="nav">
          <li class=""><%= link_to "(#{t 'the_social_marketplace'})", solution_path %></li>
          
          <li class="divider-vertical"></li>

          <%= render "categories/navbar" %>
        </ul>

        <%= render "searchs/navbar" %>

      <ul class="nav pull-right">
        <li class=""><%= render "items/new_item_navbar" %></li>
        <li class="divider-vertical"></li>
        <li class="messages"><%= render "messages/navbar" %></li>
      </ul>

      </div>
    </div>
  </div>
</div>
