<div class="row">
  <div class="sign_in_form span4 offset4">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), defaults: { label: false, input_html: { class: "form_input" } }) do |f| %>
      <div class="inputs">
        <%= f.input :login, :required => false, :autofocus => true, placeholder: "#{t 'username'}" %>
        <%= f.input :password, :required => false, placeholder: "#{t 'password'}" %>
        <%= f.label :remember_me %>
        <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="actions">
        <%= f.button :submit, "Sign in" %>
      </div>
    <% end %>
    <hr>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "zocial facebook" %>
  </div>
  <% render :partial => "devise/shared/links" %>
</div>
