<%= simple_form_for @item, :validate => true, html: { class: "form-vertical item-form", multipart: true }, defaults: { label: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :category_id, collection: Category.all, prompt: "Select a category" %>
    <%= f.input :price %>
    <%= f.input :description  %>
    <%= f.input :address %>
    <%= f.fields_for :images do |builder| %>
      <%= builder.file_field :image %>
    <% end %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-actions">
    <div class="btn-group">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>
