<a href="<%= item_path(item) %>">
  <%= content_tag :div, class: "item-link" do %>
    <%= ribbon_for("new") if item.created_at > 1.hour.ago %>

      <div class="item row-fluid">
        <div class="img span3">
          <%= item.images.first == nil ? image_tag("default_index_image.png") : render(item.images.first) %>
        </div>

        <div class="title_below_image">
          <h4><%= item.title %></h4>
          <h4><%= number_to_currency item.price, { precision: 0 } %></h4>
          <% content_tag :span, rel: "popover",
            data: {
              title: "#{item.title}",
              content: truncate("#{item.description}", length: 100),
            } do %> 
              <%= icon_for("iteminfo") %>
          <% end %>
        </div>

        <div class="main_info span7">
          <div class="title"><%= item.title %></div>
          <hr>
          <div class="description"><%= truncate item.description, length: 300, omission: '...' %></div>
          <div class="address"><hr> Address: <%= item.address %></div>
          <div class="seller"><%= item.user.email %></div>
        </div>

      <div class="extra_info span2">
        <div class="votes_container">
          <div class="votes" rel="tooltip-bottom" title="<%= pluralize(item.up_votes, t('like')) %> vs <%= pluralize(item.down_votes, t('dislike')) %>">
            <div class="up_vs_down" style="width: <%= vote_percentage(item.up_votes, item.down_votes) %>%"></div>
          </div>
        </div>
        <div class="price"><h1><%= number_to_currency item.price, { precision: 0 } %></h1></div>
        <div class="social_buttons">
          <span href="#" class="twitter" rel="tooltip" title="<%= t 'share_with_friend' %>"><%= icon_for("twitter") %></span>
          <span href="#" class="watch" rel="tooltip" title="<%= t 'watch_item' %>"><%= icon_for("watch") %></span>
        </div>
      </div>
    </div>
  <% end %>
</a>
