<p id="notice"><%= notice %></p>

<div class="row item_show">
  <div class="kk_display span12">

    <div class="element title">
      <h3><%= @item.title %></h3>
    </div>

    <div id="images" class="element element_padded carousel slide">
        <div class="carousel-inner">
          <% @item.images.each do |i| %>
            <div class="item">
              <%= image_tag i.image.url(:medium) %>
            </div>
          <% end %>
        </div>

        <a class="carousel-control left" href="#images" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#images" data-slide="next">&rsaquo;</a>
    </div>

    <div class="element element_padded description">
      <h3><%= t 'item_description' %></h3>
      <%= @item.description %>
    </div>

    <div class="element">
      <%= render "stats" %>
    </div>

    <div class="element element_padded message">
      <% if user_signed_in? %>
        <%= simple_form_for @message, remote: true, html: { class: "form-vertical" } do |f| %>
          <%= f.hidden_field :from_id, value: @message.from.id %>
          <%= f.hidden_field :to_id, value: @message.to.id %>
          <%= f.hidden_field :item_id, value: @message.item.id %>
          <%= f.input :text, label: false, input_html: { rows: 10 } %>
          <%= f.button :submit, class: "btn-primary btn-bottom-right", value: "#{t('send_message')}" %>
        <% end %>
      <% else %>
        <h4><%= render "users/navbar" %><%= t 'sign_in_to_send_message' %>!</h4>
      <% end %>
  </div>

  <div class="element element_padded">
    <%= gmaps(map_options: { container_class: "map_container", id: "map", class: "gmaps4rails_map", detect_location: true, auto_zoom: false, zoom: 14}, markers: { data: @json } ) %>
  </div>

  </div>
</div>

<%= link_to 'Back', items_path %>
