<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= icon_for("categories") %> Categories <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <% Category.where(parent_id: nil).each do |t| %>
      <li>
        <%= link_to t.name do %>
          <%= icon_for("#{t.name}") %>
          <%= "#{t_for(t.name)} (#{pluralize(t.items.count, t('ad'))})" %>
        <% end %>
      </li>
    <% end %>

    <li class="divider"></li>

    <li>
      <%= link_to "#" do %>
        <%= icon_for("all-categories") %>
        <%=  "#{t('show_all_categories')} (#{pluralize(Item.all.count, t('ad'))})" %>
      <% end %>
    </li>
  </ul>
</li>

